application: YOUR-APP-ID
version: 1
runtime: python27
api_version: 1
threadsafe: true

handlers:
- url: /static
  static_dir: static
  
- url: /.*
  script: bulkmail.wsgi.app
  
env_variables:
  DJANGO_SETTINGS_MODULE: 'settings'
  
builtins:
- remote_api: on

libraries:
- name: jinja2
  version: 2.6
- name: markupsafe
  version: latest
  