{% extends "base.html" %}
{% block content %}
<h1>GAE Bulk Mailer</h1>
<p>
  GAE Bulk Mailer is an open source project for sending and tracking bulk mail.
  You can find out more details at the <a href="https://github.com/pizzapanther/GAE-Bulk-Mailer">GAE 
  Bulk Mailer Github page</a>.
</p>
<p>
  GAE Bulk Mailer is brought by:<br>
  Lead Developer: Paul Bailey (<a href="https://twitter.com/pizzapanther">Twitter</a> - <a href="https://github.com/pizzapanther">GitHub</a>)<br>
  Initial development funded by: <a href="http://houston.culturemap.com/">CultureMap.com</a>
</p>
{% endblock %}